// put global styles here
* {
  font-family: 'Roboto', sans-serif;
}

$brandPrimary: map_get($Colors, brandPrimary);
$brandDeepGray: map_get($Colors, brandDeepGray);
$brandPurple: map_get($Colors, brandPurple);
$moonGray: map_get($Colors, moonGray);
$white: map_get($Colors, white);
$silver: map_get($Colors, silver);
$nearWhite: map_get($Colors, nearWhite);

.header {
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
  position: fixed;
}

button,
select,
input {
  &:focus {
    outline: 0
  }
}
::-webkit-input-placeholder {
  color: rgb(203,210,205);
}

.list-hover {
  &:hover {
    background-color: $nearWhite !important;
  }
}

.hov-transparent:hover {
  opacity: .75;
}

.hov-purple:hover {
  background-color: $brandPurple !important;
  color: white !important;
}
.brand-primary {
  color: $brandPrimary
}

.bg-brand-primary {
  background-color: $brandPrimary
}

.brand-deep-gray {
  color: $brandDeepGray
}

.bg-brand-purple {
  background-color: $brandPurple;
}

.moon-grey {
  color: $moonGray;
}

.bg-moon-grey {
  background: $moonGray;
}
.hov-primary:hover {
  background: $brandPrimary;
}

.rounded-profile {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  align-self: center;
  z-index: 1;
}

.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.pointer-none {
  pointer-events: none;
}

* {
  font-family: 'Lato', sans-serif;
}

$brandPrimary: map_get($Colors, brandPrimary);
$moonGray: map_get($Colors, moonGray);
$silver: map_get($Colors, silver);

button,
input {
  &:focus {
    outline: 0;
  }
}
::-webkit-input-placeholder {
  color: rgb(203, 210, 205);
}

.hov-transparent:hover {
  opacity: 0.75;
}

.brand-primary {
  color: $brandPrimary;
}

.bg-brand-primary {
  background-color: $brandPrimary;
}

.hov-primary:hover {
  background: $brandPrimary;
}

.hov-image-uploader {
  background: $moonGray;
}

.hov-image-uploader:hover {
  background: $brandPrimary;
}

.rounded-profile {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  align-self: center;
  z-index: 1;
}

.square-image {
  height: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  align-self: center;
}

.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.shia {
  background: url("https://i.ytimg.com/vi/ZXsQAXx_ao0/maxresdefault.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

#PlacesAutocomplete__autocomplete-container {
  z-index: 10;
}

#picker-wrapper > div > div {
  box-shadow: none !important;
  border: 1px solid $silver;
  margin-bottom: 1rem;
}
